extends template

block content
  h1 404
  p #[strong Page not found &#58;&#40;]
  p The requested page could not be found.
  p Go back to #[a(href='/') main page]
  p Or check out these githubs:
   ul
    li #[a(href='https://github.com/planeswalker1') planeswalker1]
    li #[a(href='https://github.com/colorlessenergy') colorlessenergy]
    li #[a(href='https://github.com/genterpw') genterpw]
  img(src='/img/lanky.png', alt='Photo of lanky from growtopia')